
.Card-list {
    /* padding-left: 20%;
    padding-right: 20%; */
    background: #282c34;
    text-align: center;
    margin: 0 auto;
}
.Card-item{
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.Center-text {
    /* width: 100px; */
    height: 170px;
    padding-top: 10px;
    /* padding-bottom: 5%; */
    /* color: teal; */
    color: wheat;
    text-align: center;
    margin: 0 auto;
    font-size: 100px;    
    display: inline-table;
    padding-bottom: 50px;
}

.vertical-align-middle {
    vertical-align: middle;
}